body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* use the Noto Color Emoji font - https://github.com/googlefonts/noto-emoji - to show the flag emoji */
@font-face {
  font-family: NotoColorEmoji;
  src: url("./Resources/Fonts/NotoColorEmoji.ttf") format("truetype");
}

.flag {
  /* use the Noto Color Emoji font - https://github.com/googlefonts/noto-emoji - to show the flag emoji */
  font-family: "NotoColorEmoji";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 25vw;
  height: 20vh;
}
